@import "../../scss/fonts";
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  #SettingsHead {
    font-size: 32px;
    font-family: $font-minecraft;
    margin-top: 10vh;
  }
  #arcticIdTitle {
    margin-top: 5vh;
    margin-bottom: 5vh;
    .arcid {
      font-size: 16;
      font-family: $font-minecraft;
    }
    #arcid2 {
      color: #a50000;
    }
  }
  .GamerTagInput {
    margin-bottom: 20px;
    padding: 20px 20px;
    width: 332px;
    height: 63px;
    outline: 1px solid black;
    background-color: white;
    border-radius: 29px;
    box-shadow: 4px 4px 10.8px rgba(0, 0, 0, 0.25); // Drop Shadow added
    font-family: $font-minecraft;
    &::placeholder {
      // Fix placeholder font
      font-family: $font-minecraft;
    }
  }
}
