// RegisterButton.module.scss
@import '../../scss/fonts';
.registerButton {
    border: 1px solid #ff5a5f !important;
    border-radius: 6px !important;
    color: #ff5a5f !important;
    text-transform: none !important;
    font-size: 16px !important;
    padding: 6px 16px !important;
    min-width: 100px !important;
    background-color: transparent !important;
    transition: all 0.2s ease-in-out !important;
    font-family: $font-minecraft !important;
    margin-right: 10px;
    
    &:hover {
      background-color: rgba(255, 90, 95, 0.04) !important;
    }
  
    .starIcon {
      margin-right: 6px;
      font-size: 14px;
    }
  }