@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+FR+Moderne:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&display=swap')

#AVlogo
    display: flex
    justify-content: center
    margin-bottom: -20px
    margin-left: -20px
#social
    // background-color: red
    #SP
        margin-top: -1px
        display: flex
        justify-content: center
        font-family: Playwrite DE Grund, cursive
        font-optical-sizing: auto
        font-weight: bolder
        font-style: normal
        color: white
        margin-left: 1px

.Socialblock
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    a
        margin-left: 60px
        margin-top: -30px
        margin-bottom: 40px
        // color: 
        list-style: none
        text-decoration: none 
        
        img
            margin-bottom: -5px



#DC
    a
        margin-bottom: 35px
        padding-top: 30px
        color: white
    img
        margin-left: -80px

#IG
    a
        margin-bottom: 20px
        padding-top: 10px
        // margin-right: -1px
        margin-left: 14px
        color: white
    img
        margin-left: -14px
        



#h2-1
    margin-top: 10px
    color: white
    display: flex
    justify-content: center
    margin-bottom: -15px
    font-family: "Playwrite FR Moderne", cursive
    // font-optical-sizing: auto
    font-weight: bolder
    // font-style: normal
    color: hsl(180, 100%, 96%)
    text-shadow: 0 0 10px hsl(310, 100%, 50%), 0 0 20px magenta, 0 0 30px magenta

#Head
    font-family: sans-serif
    font-weight: bolder
    font-size: 40px
    // color: aqua
    display: flex
    justify-content: center
    // font-size: 24px
    color: hsl(180, 100%, 96%)
    text-shadow: 0 0 10px hsl(180, 100%, 50%), 0 0 20px aqua, 0 0 30px aqua

#lowP
    display: flex
    flex-direction: column
    justify-content: center
    border: solid 2px black
    border-radius: 20px
    align-items: center
    color: red
    padding-left: 38px
    padding-right: 22px
    padding-top: 10px
    padding-bottom: 10px
h3
    display: flex
    justify-content: center
    font-family: 'Fira Code'
    color: hsl(242, 100%, 50%)



.boxP
    font-family: 'Fira Code'
    font-size: 12px
    font-weight: bolder
    color: hsl(242, 100%, 50%)

.card
    padding: 20px
    padding-left: 25px
    margin: 10px
    border: 2px solid black
    border-radius: 10px
    background-color: hsl(180, 100%, 96%)
    font-family: 'Fira Code'
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

footer
    text-align: center
    // background-color: #f9f9f9
    padding: 10px 0
    color: gray
    font-size: 12px
    font-weight: bolder